img{
  max-width: 100%;
  width: 100%;
  height: auto;
}
  @media only screen and (max-width : 992px) {}

  @media only screen and (max-width : 768px) {
    .navbar-default{
      padding: 15px 0 0 10px;
      .navbar-header{
        padding-bottom: 10px;
        .navbar-brand{
          height: auto;
          padding-bottom: 5px;
        }
      }
      .nav.navbar-nav{
        width: 100%;
      }
      .pull-right{
        float: none
      }
      .navbar-toggle{
        margin-top: 12px;
      }
    }

    .footer-bottom{
      text-align: center;
    }
      #intro-section{
      height: 400px;}
  }
